.btn {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn--submit {
  background-color: green;
  color: white;
}

.btn--edit {
  background-color: blue;
  color: white;
}

.btn--reset {
  background-color: red;
  color: white;
}

.btn--block {
  width: 100%;
  display: block;
}
