body {
  margin: 0;
}

header {
  background-color: #eee;
  padding: 20px;
  border-bottom: 1px solid #bbb;
}

.icon-button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.icon-button:hover {
  transform: scale(1.1);
}

.search-bar {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #aaa;
  outline-color: #999;
  color: #444;
  font-size: 20px;
}

.user-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
