html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: hsl(185, 75%, 39%);
}

.card-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 400px;
  background-color: white;
  /* border-radius: lewyGórny prawyGórny prawyDolny lewyDolny; */
  border-radius: 0 0 20px 20px;
}

.value {
  font-weight: bolder;
}

.label {
  color: gray;
  font-size: 10px;
  letter-spacing: 0.5px;
}
