.container {
  background-color: aqua;
  display: flex;
  list-style: none;
  height: 200px;
  /* pozycjonowanie flex itemów w osi Y (wertykalnie) */
  /* align-items: center; */
  align-items: start;

  /* pozycjonowanie flex itemów w osi X (horyzontalnie) */
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-evenly;

  flex-wrap: wrap;

  padding: 0;
}

ol div {
  background-color: red;
}
