.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

/* .logo {
  margin-left: 20px;
} */
